{% load static %}
<nav>
    <div class="nav-content">
        <div class="nav-start">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/Whitby_Wireless_Logo.png' %}" width="300px" height="120px">
            </a>
        </div>
        <div class="nav-end">
            <a href="tel:437-254-9850'"><i class="fa-solid fa-phone"></i> Call Now</a>
            <a target=”_blank” href="https://www.google.com/maps/dir//Whitby+Wireless+Cell+phone+Repair+Computer+Repair/"><i class="fa-solid fa-diamond-turn-right"></i> Get Directions</a>
        </div>
    </div>
</nav> 