* {
    margin: 0px;
    padding: 0px;
}

/* Animations */

/* Base styles for animated elements */
.animate {
    transition-duration: 1s;
    opacity: 0;
}

/* Specific animations */
.slideInBottom {
    transform: translateY(125%);
}

.slideInLeft {
    transform: translateX(-100%);
}

.slideInRight {
    transform: translateX(100%);
}

/* Apply animation when the element is visible */
.show-animation .animate {
    transform: initial; 
    opacity: 1;
}

/* Nav CSS */

nav {
    background-color: #4169E1;
    background-size: 200% 100%;
    color: white;
}

.nav-content {
    display: flex;
    padding: 0px 13%;
    justify-content: space-between;
    align-items: center;
}

.nav-end {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-end a {
    color: white;
    text-decoration: none;
    font-size: clamp(25px, 1.35vw, 30px);   
}

/* Home CSS */

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    overflow: hidden;
}

.intro-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.intro-left h2 {
    font-size: 2.5vw;
}

.intro-left h2 span {
    color: #4169E1;
}

.intro-left p {
    font-size: 1.7vw;
}

.intro-left .buttons {
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.intro-left button {
    width: 40%;
}

.intro-right {
    width: 40%;
}

.intro-right img {
    width: 100%;
    height: 100%;
}

/* Footer CSS */

footer {
    background-color: #4169E1;
    background-size: 200% 100%;
    overflow: hidden;
    margin-top: auto;
}

.footer-content {
    display: flex;
    padding: 0px 12%;
    align-items: center;
    justify-content: space-between;
}

.form-object {
    margin: 50px 0px;
    background-color: white;
    box-shadow: 0px 0px 8px #333333;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    padding: 20px 40px;
    width: 30%;   
    opacity: 0;    
}

.form-object h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-field {
    width: auto;
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid black;
}

.input-fields {    
    display: flex;
    justify-content: space-around;
    gap: 10%;   
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transition: all 0.3s ease;
    color: black;
    font-size: 1em;
    transition: 0.5s;
}

.input-field input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: black;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label{
    top: 0;
    transform: scale(0.6, 0.6) translateX(10px);
}

.form-object textarea {
    width: 100%;
    margin: 20px 0px;
    border: 2px solid rgba(0,0,0,0.5);
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.form-object button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #912077;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.contact-infos {
    display: flex;
    flex-direction: column;
    gap: 100px;  
}

.contact-info {
    display: flex;
    align-items: center;
    padding: 20px;  
    width: 30vw;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 8px #333333;
    opacity: 0;
    text-align: center;
}

.contact-info h3 {
    font-weight: lighter;
}

.contact-info i {
    padding: 5px;
    color: #912077;
    border-radius: 50%;
}

/* Other People Work */

/* Button designed by Codepen User "@yuhomyan" */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover{
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}
    
.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover{
    color: rgba(2,126,251,1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
        background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}